.bismuthContainer {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#myCanvas {
  margin-left: auto;
  margin-top: max(35vh, 120px);
}

.bismuthContainer {
  position: relative;
}

.sidebar {
  background-color: white;
  width: 100vw;
  height: max(35vh, 100px);
  position: absolute;
}

.sidebarContent {
  display: flex;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
}

.sidebarTitle {
  font-size: 4vw;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  align-items: center;
  text-align: center;
}

.sidebarTitle span {
  color: #ba6ca7;
  background: -webkit-linear-gradient(#f74da2, #7507eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slidersContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  height: max(120px, 50%);
  width: 100vw;
}

.slidersContainer div {
  padding-left: 8%;
  padding-right: 8%;
}

.slidersContainer div h4 {
  color: #ba6ca7;
  margin: 0;
  font-size: 3vw;
}

@media screen and (min-width: 800px), (orientation: landscape) {
  #myCanvas {
    margin-left: max(30vw, 120px);
    margin-top: auto;
  }

  .sidebar {
    width: max(30vw, 120px);
    height: 100%;
    position: absolute;
    left: 0px;
    top: auto;
  }

  .sidebarContent {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }

  .sidebarContent div {
    width: 100%;
  }

  .sidebarTitle {
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
  }

  .slidersContainer {
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    height: max(300px, 65vh);
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .slidersContainer div h4 {
    font-size: 3vh;
  }
}
