button {
  font-family: 'Inconsolata', sans-serif;
  font-size: 1em;
  color: #4a4ae1;
}

.cardContainer {
  align-self: center;
  min-height: 30vh;
  width: 100%;
  margin: 10%;
  position: relative;
}

.writingCard {
  background-color: lavenderblush;

  /* color same as gradient dark color */
  box-shadow: 5px 15px 20px 5px rgba(50, 58, 121, 0.5);

  color: black;
  position: absolute;
  text-align: center;

  height: 100%;
  width: 100%;

  top: 0;
  bottom: 0;
}

.writingCard span {
  padding-top: 10px;
  align-self: center;
}

.cardDescription {
  padding: 5%;
}

.writingCard a button {
  background-color: transparent;
  border: 2px solid #4a4ae1;
  height: 40px;
  position: absolute;
  left: -4vw;
  bottom: 2vh;
  width: 200px;
}

.writingCard a {
  text-decoration: none;
  border-bottom: none;
}

.writingCard button:hover {
  background-color: violet;
}
