a {
  color: lavenderblush;
  border-bottom: 1px solid #4a4ae1; /* Or whatever color you want */
  text-decoration: none;
}

li {
  display: inline;
  text-decoration: none;
}

li:active {
  font-weight: bolder;
}

li + li:before {
  content: '  |  ';
  color: lavenderblush;
}

ul {
  padding-right: 20px;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  display: block;
  text-align: right;
}

.container {
  padding-bottom: 5vh;
}
