body {
  padding: 1rem;
}

.projectCard {
  background-color: lavenderblush;
  color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.projectCard h3 {
  margin-block-end: 0px;
}

.arrow {
  padding-left: 10px;
  font-size: 2em;
  line-height: 0;
}

.projectCard img {
  top: 0;
  justify-self: flex-start;

  object-fit: cover;
  width: 100%;
  max-height: 205px;
}

.projectCard marquee {
  justify-self: flex-end;
  bottom: 0;
}

.projectCard a {
  color: #4a4ae1;
}

.projectCard a + a {
  padding-left: 10px;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  grid-auto-rows: 1fr;
  padding-bottom: 100px;
}

.mujicThumb {
  display: flex;
  flex-direction: column;
}

.mujicThumb div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mujicThumb img {
  object-fit: contain;
  max-height: 130px;
}

.mujicThumb span {
  padding-left: 10px;
}

.mujicThumb button {
  margin-top: 10px;
  padding: 3% 4% 3% 4%;
}

.seeMore {
  color: #4a4ae1;
  font-weight: bold;
  padding-left: 5px;
  text-decoration: underline;
}
