.container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.slidersContainer {
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 95vh;
  padding: 30px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

canvas {
  max-height: 90vh;
  display: inline-block;
}

h4 {
  color: violet;
}
