html,
body,
.root,
.App,
canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h4 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 0.8em;
  color: #ba6ca7;
  margin-bottom: 0;
}

h3,
h5 {
  color: #8658b8;
  margin: 0.2em;
}
