html,
body,
.root,
.App,
canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#myCanvas {
  margin-top: 1em;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sideBar {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 40%;
  padding: 0.5em;
}

h4 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 0.6em;
  color: #ba6ca7;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  color: #ba6ca7;
  background: -webkit-linear-gradient(#ba6ca7, #7507eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 0em;
}

h7 {
  color: #ba6ca7;
}

@media screen and (min-width: 500px) {
  .App {
    flex-direction: row;
  }

  .sideBar {
    max-width: 350px;
    flex-direction: column;
    max-height: 100%;
  }

  .textContainer {
    margin: 0.8em;
    max-width: 100%;
  }

  @media screen and (min-width: 800px) {
    h2 {
      font-size: 1.5em;
    }

    h4 {
      font-size: 0.8em;
    }
  }
}
